<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airline Login</title>
    <link rel="stylesheet" href="../pros.css/login.css">
</head>

<body>
   

    <div class="login-container">
        <header>
            <nav class="navbar">
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
        </header>
        <div class="login-box">
            <h2>Airline Login</h2>
            <!-- <form action="/login" method="post"> -->
            <form id="loginForm" action="/login" method="post">
                <div class="input-group">
                    <label for="username">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <button type="submit" class="login-btn">Login</button>
                <p class="signup-link">Don't have an account? <a href="/register">Sign up</a></p>
            </form>
        </div>
    </div>
    <script src="../pro.js/login.js"></script>
</body>

</html>