/* General reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background: linear-gradient(to bottom, #3b8dbd, #87ceeb); */
    background-image: url('/img/bg1.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}
.navbar {
    background-color:rgba(37, 56, 79, 0.223);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1rem 2rem; */
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffcc00;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ffcc00;
    bottom: -5px;
    left: 0;
    transition: width 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sign Up container */
.register-container {
    width: 100%;
    max-width: 400px;
    background: rgba(180, 185, 189, 0.11);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
}

/* Header */
.register-box h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
    font-size: xx-large;
    /* text-decoration: underline; */
}

/* Input groups */
.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.input-group input:focus {
    border-color: #3b8dbd;
    outline: none;
}

/* register button */
.register-btn {
    width: 100%;
    padding: 10px;
    background-color: #3b8dbd;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-btn:hover {
    background-color: #2a6d92;
}

/* Signin link */
.signin-link {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.signin-link a {
    color: #0084fffa;
    text-decoration: none;
}

.signin-link a:hover {
    text-decoration: underline;
}
/* .user-data {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.user-data h3 {
    margin-bottom: 10px;
}

.user-data p {
    font-size: 16px;
    margin: 5px 0;
} */
